*{
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
	color: #393e4d;
	font-family: 'Roboto', sans-serif;
}


h1{
	text-align: center;
	padding: 20px 0;
	font-size: 55px;
}

.grid,
.grid-pixeles,
.grid-area,
.grid-repeat,
.grid-posicion
{
	width: 90%;
	max-width: 1000px;
	border: 10px solid #393e4d;
	margin: auto;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

.grid div,
.grid-pixeles div,
.grid-area div,
.grid-repeat div,
.grid-posicion div
{
	display: block;
	padding: 20px;
	color: #fff;
	background: lightsalmon;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
}


.grid div{

	background: limegreen;
}

.grid-pixeles div{

	background: darkmagenta;
}

.grid-repeat div{

	background: lightpink;
}

